CONFIG PART=5VLX50TFF1136-1 ;

NET MCLK1	LOC=J16 | IOSTANDARD = LVTTL;
NET RS_TX	LOC=K11 | IOSTANDARD = LVTTL;
NET RS_RX	LOC=J11 | IOSTANDARD = LVTTL;

NET "MCLK1" TNM_NET = "SYS_CLK";
TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 14.52 ns HIGH 50 %;
