.Xil/
isim/
planAhead_run_1/
iseconfig/
xst/
xilinxsim.ini
netlist.lst
cst.xbcd

*.cmd
*.log

*_map.map
*_map.mrp
*_beh.prj

*.gise
*.bgn
*.bld
*.drc
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.psr
*.ptwx
*.stx
*.tcl
*.syr
*.unroutes
*.ut
*.wdb
*.xmsgs
*.xpi
*.xrpt
*.xwbt
*.xst
*.lso
